@page "/"
@page "/{CategoryUrl}"
@inject ICategoryService CategoryService
@inject IProductService ProductService
@inject ILocalStorageService LocalStorageService



    @if (Category != null)
    {
        <h1>Welcome to the @Category.Name section!</h1>

    }

    else
    {
        
        <AuthorizeView>
            <Authorized>
                <h1>Welcome back, @username !</h1>
            </Authorized>
            <NotAuthorized>
                <h1>Welcome to Blazing Shop!</h1>
            </NotAuthorized>
        </AuthorizeView>
       
    }

    <ProductList Change="OnChange" />



@code{        

    string username = "";
    protected async override Task OnInitializedAsync()
    {
        username = await LocalStorageService.GetItemAsync<string>("username");
    }


    [Parameter]
    public string CategoryUrl { get; set; }

    private Category Category = null;

    protected override async Task OnParametersSetAsync()
    {
        await ProductService.LoadProductsAsync(CategoryUrl);

        if (CategoryUrl != null)
        {
            Category = CategoryService.Categories.FirstOrDefault(c => c.Url.ToLower() == CategoryUrl.ToLower());
        }
        else
        {
            Category = null;
        }
    }

    public async Task OnChange()
    {
        await ProductService.LoadProductsAsync();
    }


}